@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('../fonts/alifont/webfont.eot'); /* IE9 */
  src: url('../fonts/alifont/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/alifont/webfont.woff2') format('woff2'),
  url('../fonts/alifont/webfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/alifont/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/alifont/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'jacobfont';
  font-display: swap;
  src: url('../fonts/alifont/jacobfont.eot'); /* IE9 */
  src: url('../fonts/alifont/jacobfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/alifont/jacobfont.woff2') format('woff2'),
  url('../fonts/alifont/jacobfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/alifont/jacobfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/alifont/jacobfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font {
  font-family: "webfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jacob-font {
  font-family: "jacobfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}